*{
  box-sizing: border-box;
}
body{
  margin: 0;
}

/* navbar */
nav{
  height:100px;
  background-color: #e3ecf1;
  display: flex;
  padding-left: 150px;
  padding-right: 150px;
  
}
.pops{
  position: relative;
  top: 30px;
}
.search-form{
  position: relative;
  height: 45px;
}
.icon{
  position: absolute;
  top: calc(50%);
  left:1rem;
}
a:link{
  text-decoration: none;
}
.branding{
  font-size: 35px;
  font-family:  poppins,sans-serif;
  font-weight: 600;
  color: #fe5722;
  padding-right: 80px;
  position: relative;
  top:30px;
}
.nav-items{
  margin-right: auto;
}
.nav-item{
  color: black;
  position: relative;
  top: 44%;
  font-family: poppins, sans-serif;
  padding-right: 20px;
  padding-left: 20px;
}
.search{
  font-family: FontAwesome;
  padding-left: 40px;
  background: #ffffff;
  border: none;
  border-radius:15px;
  height: 45px;
  width: 250px;
}
 .search::placeholder{
  color: black;
  font-size: 17px;
  font-family: poppins,sans-serif;
  /* text-indent: 40px; */
}
.butt{
  background:#fe5722;
  margin-left: 25px;
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 10px;
}
.butt i{
  position: relative;
  left:1.5%;
  top:1%;
}

/*landing*/

main{
  background-color:#e3ecf1;
  height: 750px;
}
.landing{
  margin-left:150px ;
  display: flex;
}
.welcome{
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  width: 45%;
}
.landing h1{
  font-size: 90px;
  font-family: poppins,sans-serif;
  font-weight: 600;
}
.landing h2{
  font-size: 65px;
  font-family: poppins,sans-serif;
  font-weight: 100;
}
.landing p{
  font-size: 14px;
  padding-top:1%;
  padding-bottom: 2%;
  font-family: poppins,sans-serif;
  color: grey;
  width:88%;
  text-align: justify;
}
.location-form{
  position: relative;
  height: 55px;
}
.icon2{
  position: absolute;
  top:calc(50%);
  left:75%;
  
}
.location{
  padding-left: 25px;
  background:#ffffff;
  border: none;
  border-radius:15px;
  height: 55px;
  width: 81%;
}
 .location::placeholder{
  color: grey;
  font-size: 17px;
  font-family: poppins,sans-serif;
}
.options{
  display: flex;
  padding-top: 4%;
  height: 55px;
  width: 81%;
}
.delivery{
  background:#fe5722;
  height: 55px;
  width: 200px;
  border: none;
  border-radius:15px;
  color: white;
  font-family: Inter,sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.or{
  padding-left:6% ;
  padding-right:6%;
  padding-top:2% ;
  padding-bottom:2% ;
  font-family: poppins,sans-serif;
  font-weight: 600;
  color: #fe5722;
  font-size: 20px;
}
.pick{
  left: 450px;
  background:none;
  height: 55px;
  width: 200px;
  border: solid #fe5722;
  border-radius:15px;
  color: #fe5722;
  font-family: Inter,sans-serif;
  font-size: 15px;
  font-weight: 600;
}
.welcome-food{
  position: relative;
  width: 55%;
}
.food2{
  position: absolute;
  top:1%;
  height: 350px;
}
.food3{
  position: absolute;
  top:50%;
  left: 55%;
  height: 230px;
}
.food4{
  position:absolute;
  top: 65%;
  left: 10%;
  height: 500px;
}
.box{
  position:absolute ;
  top:100%;
  height: 170px;
  width: 320px;
  background: rgba(255, 255, 255,0.8);
  border-radius: 15px;
  padding: 10px;
}
.food5{
  height: 70px;
}
.foodname{
  padding-left: 10px;
  padding-right: 20px;
  font-family: poppins,sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.rating{
  background-color: #fff;
  padding: 6px;
  border-radius: 15px;
  font-family: poppins,sans-serif;
}
.star{
  height: 15px;
}
.review{
  font-size: 13px;
  font-family: poppins,sans-serif;
  
}

/*Attribute*/

.attribute{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 7.5%;
  margin-top: 7%;
  margin-bottom: 5%;
}
.att-card{
  width: 350px;
}
.iconn{
  height: 50px;
}
.heading{
  padding-left: 20px;
  font-family: poppins,sans-serif;
  font-size: 19px;
  font-weight: 500;
}
.line{
  padding-top: 20px;
  color: grey;
}

/*Explore*/
.explore{
  display: flex;
  margin-bottom: 150px;
}
.explore-content h5{
  font-family: poppins,sans-serif;
  font-size: 20px;
  font-weight: 600;
  color:#fe5722;
  margin-top: 12%;
}
.explore-content h3{
  font-size: 90px;
  font-weight: 600;
  font-family: poppins,sans-serif;
}
.explore-content h2{
  font-family: poppins,sans-serif;
  font-size: 40px;
  font-weight: 500;
}
.explore-content p{
  font-family: poppins,sans-serif;
  font-size: 15px;
  color: grey;
  padding-top: 20px;
  padding-right: 90px;
}
.explore-menu{
  margin-top: 15px;
  background:#fe5722;
  height: 55px;
  width: 200px;
  border: none;
  border-radius:15px;
  color: white;
  font-family: Inter,sans-serif;
  font-size: 15px;
  font-weight: 500;
}

/*Menu*/

.menu{
  width: 22rem;
}

.top-line{
  display: flex;
}
.dish{
  padding-right: 0;
}
.dish-img{
  min-height:15rem;
  max-height:15rem;
}
.menu-rating{
  margin: auto;
  font-size: 14px;
  font-family: poppins,sans-serif;
  color:grey;
  border-radius: 15px;
  padding: 4px;
  box-shadow: 2px 2px 6px 0 gray;
}
.amount{
  font-family: poppins,sans-serif;
  color: rgb(134, 121, 121);
  font-size:20px;
  font-weight: 600;
}

/*Slider*/

.slider{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-left: 10%;
  padding-right: 7%;
}


/*Template*/

.template{
  display: flex;
  margin-top: 60px;
  padding-left: 120px;
  margin-bottom:150px;
  height: 750px;
  background-color:#e3ecf1;
  background-image: url(./images/masalaspoon.png);
  background-size: 270px;
  background-position:-50px -30px;
  background-repeat: no-repeat;
}

.grilled{
  width:600px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.template-box{
  position:relative;
  top:13%;
  left:-45%;
  height: 170px;
  width: 320px;
  background: rgba(255, 255, 255,0.6);
  border-radius: 15px;
  padding: 10px;
}
.food-name{
  font-family: poppins,sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding-right: 7px;
}
.template-rating{
  background-color: #fff;
  padding: 6px;
  border-radius: 15px;
  font-family: poppins,sans-serif;
}
.gobi{
  width:100px;
}
.arvind-profile{
  width:50px;
}
.arvind-name{
  font-family: poppins,sans-serif;
  font-weight: 600;
  font-size: 15px;
  padding-right: 7px;
  padding-top: 7px;
}
.arvind-rating{
  float: right;
  background-color: #fff;
  padding: 6px;
  border-radius: 15px;
  font-family: poppins,sans-serif;
}
.review-box{
  position:relative;
  top:35%;
  left:-45%;
  height: 300px;
  width: 250px;
  background: rgba(255, 255, 255,0.6);
  border-radius: 15px;
  padding: 10px;
  
}

.about-gobi{
  margin-top: 15%;
  padding: 25px;
  padding-right: 160px;
}
.about-gobi h3{
  font-size: 18px;
  font-family: poppins,sans-serif;
  font-weight: 600;
  color:#fe5722;
  padding-bottom: 15px;
}
.about-gobi h2{
  font-family: poppins,sans-serif;
  font-weight: 600;
  padding-bottom: 15px;
}
.prev-price{
  font-family: poppins,sans-serif;
  font-size: 35px;
  font-weight: 600;
  padding-right:30px;
  text-decoration: line-through;
}
.new-price{
  font-family: poppins,sans-serif;
  font-size: 25px;
}

/*CardReview*/

.review-card{
  height: 400px;
  width: 350px;
  background: rgba(245,245,245,0.7);
  box-shadow: 2px 2px 6px 0 gray ;
  border-radius: 15px;
  padding: 10px;
  text-align: justify;
}
.card-profile{
  width:75px;
}
.card-name{
  font-family: poppins,sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-right: 7px;
  padding-top: 15px;
  padding-bottom: 0px;
}
.card-location{
  padding-bottom: 20px;
}
.card-rating{
  float: right;
  background-color: #fff;
  box-shadow: 2px 2px 6px 0 gray;
  padding: 6px;
  border-radius: 15px;
  font-family: poppins,sans-serif;
}
.card-review{
  font-size: 15px;
  font-family: poppins,sans-serif;
  
}

/*Review*/
.review-block{
  background-image: url(./images/pizza.png);
  background-repeat: no-repeat;
  background-size: 650px;
  background-position: 1050px;
}
.review-slider{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-left: 10%;
  padding-right: 7%;
}
.review-item{
  height:550px;
}
.review-head{
  color:#fe5722;
  font-family: poppins,sans-serif;
  font-weight: 600;
  text-align: center;
  padding-bottom: 25px;
}

/*Our Cities*/

.city{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}
.city-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}
.city-img{
  min-width: 13rem;
  max-width: 13rem;
  min-height: 17rem;
  max-height: 17rem;
}
.city-card{
  margin-left: 50px;
  margin-right: 50px;
}
.city-title{
  padding-bottom: 10px;
  font-family: poppins,sans-serif;
  font-size: 40px;
}
.twitter-img{
  width:25px;
}
.twitter-city{
  padding-left: 10px;
  font-family: poppins,sans-serif;
}


/*Footer*/

footer{
  background-color: #e3ecf1;
  font-family: Poppins,sans-serif;
  padding: 100px;
  padding-bottom: 50px;
}
.Parts{
  display: flex;
}
.Part1{
  margin-right: auto;
}
.Part1-text{
  width: 70%;
  font-size: 14px;
  padding-bottom: 20px;
}
.logo-card {
  padding-right: 15px;
}
.Part2{
  display: flex;
}
.Part1 h3{
  font-size: 32px;
  color: #fe5722;
  font-weight: 600;
}
.footer-item{
  padding-right: 50px;
  font-size: 15px;
}
.footer-item h6{
  font-weight: 600;
}
.footer-item p{
  color: gray;
}
.Part3{
  padding-top: 50px;
}
.atmCard{
  float: right;
}
.atm-card{
  width: 70px;
  height: 65px;
  padding: 10px;
}

/* Newsletter*/

.newsletter{
  margin: 50px;
  margin-left:20% ;
  margin-right:20% ;
  background-image: url(./images/table.jpg);
  width: 60%;
  height: 400px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}
.joining{
  color: #fff;
  padding-right:200px;
  padding-left:200px;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 1%;
}
.enter{
  display: flex;
}
.email-letter{
  background:#ffffff;
  border: none;
  padding-left: 25px;
  border-radius:15px 0 0 15px;
  height: 55px;
  width: 500px;
}
 .email-letter::placeholder{
  color: grey;
  font-size: 17px;
  font-family: poppins,sans-serif;
 }
 .sign-in{
    background:#fe5722;
    height: 55px;
    width: 200px;
    border: none;
    border-radius:0 15px 15px 0;
    color: white;
    font-family: Inter,sans-serif;
    font-size: 15px;
    font-weight: 500;
 }
 .newmember{
  padding-top: 14%;
  font-size: 17px;
  font-family: Poppins,sans-serif;
  color: #fff;
 }
  .newsletter a:hover{
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
 }


 /*Download*/

.download{
  margin: 3%;
  display: flex;
}
.mobile{
  width: 45%;
  margin-right:100px;
}
.app-store{
  width:15%;
  min-height: 9%;
}
.download h3{
  padding-top: 3%;
  font-size: 40px;
}